{% extends "base.html" %}

{% block title %}Your Goals{% endblock %}

{% block content %}
<div class="container">
    <h2>Your Goals</h2>
    
    <table class="table table-bg-color">
        <thead>
            <tr>
                <th>Name</th>
                <th>Target Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in goals %}
            <tr>
                <td>{{ goal.name }}</td>
                <td>${{ goal.target_amount }}</td>
                <td>
                    <a href="{{ url_for('edit_goal', goal_id=goal.id) }}" class="btn btn-info">Edit</a>
                    <form action="{{ url_for('delete_goal', goal_id=goal.id) }}" method="POST" onsubmit="return confirmDeletion()" style="display:inline-block;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href="{{ url_for('setgoal') }}" class="btn btn-primary btn-lg btn-margin">Set New Goal</a>
</div>
{% endblock %}
