body {
    background: url('../image/bg-img.svg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.plotly-graph-div {
    background-color: rgba(255, 255, 255, 0.5);
}


.navbar {
    background-color: rgba(255, 255, 255, 0.16) !important; 
    box-shadow: none !important;
    border: none !important;
}

.btn-margin {
    margin: 15px 5px;
}

.table-bg-color {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px 0px;
}

